@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
    --clr-blue: hsl(223,87%,63%);
    --clr-pareblue: hsl(223,100%,88%);
    --clr-lightred: hsl(354,100%,66%);
    --clr-gray: hsl(0,0%,59%);
    --clr-darkblue: hsl(209,33%,12%);
    --clr-grayblue: hsl(223,59%,83%);
    
}

*,
* ::before,
* ::after
 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "libre franklin" , sans-serif;
    font-size: 1.25rem; /* 20px */
    font-weight: 300;
}
.hideMe {
    display: none;
}
/* ====== HEADER ======= */
/* ------ HEADER ------- */
.header {
    margin: 5rem auto 3rem; /* 80px 48px */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header__logo {
    max-width: 5.625rem; /* 90px */
    margin-bottom: 3rem; /* 48px */
}
.header__title {
    font-size: 1.375rem; /* 22px */
    font-weight: 300;
    color: var(--clr-gray);
    margin-bottom: 1rem; /* 16px */ 
}
.header__title--strong {
    color: var(--clr-darkblue);
    font-weight: 800;
}
.header__subtitle {
    color: var(--clr-darkblue) ;
    font-size: 1rem; /* 16px */
}
/* ======= MAIN ======= */
.main {
    max-width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*------- MAIN: FORM -------*/
.form,
.main__thankyoumessage {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2.5rem; /* 40px */
    text-align: center;
}
.form__inputfield,
.form__button {
    padding: 1rem 2rem; /* 16px 32px */
    border-radius: 1.75rem; /* 28px */
    box-shadow: 0rem 0.0625rem 0.1875rem 0.125 /* 0px 1px 3px 2px */ ;
    rgba(0,0,0,0,1);
}
.form__inputfieldcontainer {
    width: 100%;
}
.form__inputfield {
    font-size: 1rem;
    width: 100%;
    border: 0.0625rem /* 1px */ solid var(--clr-palebleu);
}
.form__inputfield: focus {
    color: black;
}
.form__inputfield:hover {
    border: 0.125rem /* 2px */ solid var(--clr-blue);
    }
    .form__inputfield ::placeholder {
        color: var(--clr-grayblue);
    }
    .form__button {
        margin-top: 0.625rem; /* 10px */
        background-color: var(--clr-blue);
        color: hsl(0,0%,100%);
        text-decoration: none;
        font-weight: 700;
        font-size: 1rem; /* 16px */
        box-shadow: 0rem 0.3125rem 0.625rem 0.125 /* 0px 5px 10px 2px */
        hsla(223,87,63,0.23);
        line-height: 1.65;
        border: none;
        cursor: pointer;
    }
    .form__button:hover {
        background-color: hsl(223,87%,70%);
    }
    .invalid {
        border-color: red;
    }
    .validationmessage {
        position: relative;
        margin: 0.3125rem auto 0.625rem /* 5px 10px */ auto;
        color: hsl(354,100%,66%);
        font-size: 1rem; /* 16px */
        font-style: italic;
    }
    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .form__inputfield:focus,
    .form__button:focus,
    .footer__icon:focus {
        outline: 0.2rem solid #2ecc71;
    }
    /* --------- MAIN: THANK YOU MESSAGE --------- */
    .main__thankyoumessage {
        position:relative;
        display: none;
    }
    .main__thankyoumessage__header {
        margin-bottom: 0.75rem; /* 12px */
    }
    .main__thankyoumessage__description {
        margin: auto;
        font-size: 1rem; /* 16px */
        margin-bottom: 0.875rem; /* 14px */
    } 
    /* -------- MAIN: IMAGE --------- */
    .main__image {
        width: 100%;
        height: auto;
        margin-bottom: 5rem; /* 80px */
    }
    /* ========= FOOTER ========== */
    .footer {
        margin-bottom: 1rem; /* 16px */
    }
    .footer__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-bottom: 1.6875rem; /* 27px */
        gap: 0.75rem;/* 12px */
    }
    .footer__icon {
        border-radius: 50%;
        border: 0.0625rem; /* 1px */ solid rgba (76,123,243,0.15);
        width: 2.5rem; /* 40px */
        height: 2.5rem; /* 40px */
        color: var(--clr-blue);
        display: block;
        text-align: center;
        line-height: 2.5;
        font-size: 1rem; /* 16px */
        transition: 0.2s ease-in-out;
    }
    .footer__icon:hover {
        cursor: pointer;
        background-color: var(--clr-blue);
        color: hsl(0,0%,100%);
    }
    .footer__copyright {
        font-size: 0.75rem; /* 12px */
        font-weight: 300;
        color: var(--clr-gray);
        text-align: center;
    }
    /* ======== MEDIA QUERIES ======== */
    @media screen and (min-width: 54rem /* 864px */) {
        .header__title {
            font-size: 3rem; /* 48px */
        }
        .header__subtitle {
            font-size: 1.25rem; /* 20px */
        }
        .main {
            max-width: 45vw;
        }
        .main__image {
            margin-top: 0.25rem;
        }
        .form {
            flex-direction: row;
            text-align: left;
        }
        .validationmessage {
            position: absolute;
            padding-left: 2rem; /* 32px */
        }
        .main__thankyoumessage__header {
            margin-bottom: 0.5rem; /* 8px */
        }
        .main__thankyoumessage__description {
            font-size: 1.25rem; /* 20px */
            margin-bottom: 0rem; /* 0px */
        }
        .form__button {
            margin-top: 0rem; /* 0px */
            margin-left: 1rem; /* 16px */
            flex: 1 1 50%;
        }
        .footer {
            font-size: 0.75rem; /* 12px */
        }
        
    }